.sidebar {
    position: fixed;
    left: 0;
    bottom: 630px;
    top: 400px;
    background-color: rgba(227, 219, 219, 0.4);
    width: 92px;
    z-index: 200;
    box-shadow: 0 0 50px 15px #f9f9f9d4;
    border-radius: 7%;
  }
  
  .sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgba(252, 245, 245, 0.522);
    border-radius: 7%;
  }
  
  .sidebar-link img {
    height: 44px;
    margin-bottom: 3px;
  }
  .sidebar-link div {
    font-family: 'Protest Strike';
    font-size: 15px;
  }